{{!< chat-layout}}
<div class="chat-app">
  {{> chat_content}}
  {{> chat_input}}
</div>
<div class="trpBlankPage"></div>
{{> set_initial_position_embed }}
{{#unless useVueLeftMenu}}
  {{{ generateTroupeContext troupeContext }}}
  {{{ bootScript bootScriptName jsRoot=jsRoot }}}
{{/unless}}
